<h2>Edit Room</h2>

<%= render "form.html", Map.put(assigns, :action, room_path(@conn, :update, @room)) %>



  <div class="form-group">
  <span class="control-label">Users</span>
    <ul class="list-group" id="users_list">
      <%= for user <- @room.users do %>
        <%= if user.id != @room.user_id do %>
          <li class="list-group-item" id="<%=user.id%>">
            <a href="/user/<%=user.id%>" ><%=user.username%></a> <span class="btn btn-danger" onclick="remove_sub(<%=user.id%>)">X</span>
          </li>
        <% end %>  
      <% end %>
    </ul>
    <input type="text" id="subs_input"> <span class="btn btn-success" onclick="add_sub()">+</span>
  </div>

  <span style="display: none" id="subs"><%= Kernel.inspect @subs%></span>
  
<%= link "Delete", to: room_path(@conn, :delete, @room), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger" %>
<span><%= link "Back", to: room_path(@conn, :index) %></span>
<script src='<%= static_path(@conn, "/js/subs.js") %>' ></script>
