<div class="row">
  <div class="col-md-3">
    <h3>Rooms 
    </h3>

    <ul class="list-group">
      <%= for room <- @rooms do %>
        <li class="list-group-item">
          <a href="/<%=room.id%>" ><%=room.room_name%></a>
        </li>
      <% end %>
    </ul>

  </div>
  <div class="col">
    <section class="jumbotron text-center">
      <h1 class="jumbotron-heading mb-5">Welcome to Ex_Chat</h1>
      <p class="lead text-muted">
        Choose the room on the left to join
      </p>
      <p class="lead text-muted">
        or <a href="/new" class="btn btn-success">Create</a> a new one
      </p>
    </section>
  </div>
</div>