<div class="jumbotron">
  <h2><%= gettext "Welcome to %{name}'s profile!", name: @user.username %></h2>
  <p class="lead">This is their publicly available info.</p>
  <ul>
  <li>Username: <%=@user.username%></li>
  <li>ID: <%=@user.id%></li>
  </ul>
</div>

<div class="row marketing">
  <div class="col-lg-6">
    <h4>Go To</h4>
    <ul>
      <li>
        <a href="/">Home page</a>
      </li>
    </ul>
  </div>

  <div class="col-lg-6">
    <h4>Help</h4>
    <ul>
      <li>
        <a href="/1/1">Ask the devs</a>
      </li>
    </ul>
  </div>
</div>
