<h2>Edit Corner</h2>

<%= render "form.html", Map.put(assigns, :action, room_corner_path(@conn, :update, @room, @corner)) %>
  <%= link "Delete", to: room_corner_path(@conn, :delete, @room.id, @corner.id), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger" %>
<span><%= link "Back", to: room_path(@conn, :index) %></span>
