<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <div class="form-group">
    <%= label f, :corner_name, class: "control-label" %>
    <%= text_input f, :corner_name, class: "form-control" %>
    <%= error_tag f, :corner_name %>
  </div>

  <div class="form-group">
    <%= label f, :corner_type, class: "control-label" %>
    <%= select f, :corner_type, ["Text": "1", "Voice": "2", "Both": "3"], class: "form-control" %>
    <%= error_tag f, :corner_type %>
  </div>

  <div class="form-group">
    <%= submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>
