<div class="row">
  <div class="col-md-3">
    <h3><%= @corner.corner_name %>
      
     <%= if Chat.Auth.Authorizer.can_manage?(@current_user, @room) do %>
      <a class="btn btn-primary" href=" /<%=@room.id%>/<%=@corner.id%>/edit"><span class="glyphicon glyphicon-pencil"></span></a>
     <% end %>
    </h3>
    <ul class="list-group">
      <%= for corner <- @room.corners do %>
        <li class="list-group-item">
          <%= link "#{corner.corner_name}", to: "/#{@room.id}/#{corner.id}" %>
          <%= if !is_nil(corner.corner_name) && corner.corner_name != "" do %>
            <div class="float-right text-info" data-toggle="tooltip" data-placement="right" data-html="true" title="<%= corner.corner_name %>">
              <i class="fas fa-info-circle"></i>
            </div>
          <% end %>
        </li>
      <% end %>
      <%= if Chat.Auth.Authorizer.can_manage?(@current_user, @room) do %>
          <a class="btn btn-success" href=" /<%=@room.id%>/new"><span class="glyphicon glyphicon-plus"></span></a>
      <% end %>
    </ul>
  </div>
  
  <div class="col-md-5">

  <%= if Chat.Auth.Authorizer.video_feed?(@corner.corner_type) do %>
    <video id="OneR" width="320" height="240" style="display: none"></video>
    <video id="TwoR" width="320" height="240" style="display: none"></video>
    <video id="ThreeR" width="320" height="240" style="display: none"></video>
    <video id="OneL" width="320" height="240" style="display: none"></video>
    <video id="TwoL" width="320" height="240" style="display: none"></video>
    <video id="ThreeL" width="320" height="240" style="display: none"></video>
  <%end%>

  <%= if Chat.Auth.Authorizer.text_feed?(@corner.corner_type) do %>
    <ul class="list-group mt-5" id="messages"></ul>
    <div id='message-list'></div>

    <form class="input-group mt-3" id="new-message">
      <textarea rows="1" class="form-control" placeholder="Message #<%= @corner.room.room_name  %>" id="message-content"></textarea>
      <div class="input-group-append">
        <button id="message-submit" style="display:none;" type="submit">Send</button>
      </div>
    </form>
  <%end%>
  </div>
      
  <div class="col-md-3">
  <div class="card">
    <h5 class="card-header text-white bg-secondary">Online:</h5>
    <div class="card-body">
      <div id="online-users"></div>
    </div>
  </div>
  <%= if Chat.Auth.Authorizer.video_feed?(@corner.corner_type) do %>
    <video id="localVideo" autoplay width="320" height="240"></video>
  <%end%>
  <button class="connect">Connect</button>
  <button class="call">Call</button>
  <button class="hangup">Hangup</button>
  </div>
</div>

</div>

<script>window.channelCornerId = "<%= @corner.id %>"</script>
<script>window.current_user_id = "<%= @current_user.id %>"</script>
<script src="//cdn.temasys.com.sg/adapterjs/0.10.x/adapter.debug.js"></script>


